<svg height="500" width="500">      
    
    
    <g *ngFor="let dis of data.systems"  class="clickable" [attr.id]="dis.name" >
      <path [attr.d]="dis.d" [attr.style]="getBackground(dis.color)"   ></path>      
    </g>
    <g *ngFor="let dis of data.systems"  class="clickable" [attr.id]="dis.name" >
        <text [attr.x]="dis.centerX" [attr.y]="dis.centerY">Name: {{dis.name }}, Type : {{dis.type }}</text>      
    </g>
    <g class="clickable" *ngFor="let dis of data.systems"  >
        <circle *ngFor="let db of dis.databases; let i =index "  id="db{{dis.name}}{{i}}" [attr.fill]="db.color" stroke="black" stroke-width="1" r="20" [attr.cx]="db.x" [attr.cy]="db.y" (click)="expand(db)"></circle>
        <text  *ngFor="let db of dis.databases; let i =index " [attr.x]="db.x" [attr.y]="db.y" >Name: {{db.name }}</text>
    </g>
    <g class="mapper clickable" *ngFor="let mapper of data.mapping"  >
            <path [attr.d]="getArc(mapper)"  fill="none" stroke="#000" stroke-width="2px" />            
            <text [attr.x]="getMapperX(mapper)" [attr.y]="getMapperY(mapper)">{{mapper.text}}</text> 
    </g>
    
</svg>